<!-- jinja -->
{% if template_data %}

    <div class="section_header">
        <div class="section_title">
            <div class="title">
                <span> {{ _('Latest Activities') }} </span>
            </div>
            <div class="count">
                <span>{{ template_data.num_of_data }}</span>
            </div>
        </div>
       
    </div>
    <div class = "section_content">
      
        {% if template_data.calls %}
        
        {% set unique_ids = [] %}
        {% for call in template_data.calls %}
            {% if call.call_id not in unique_ids %}
                {% set _ = unique_ids.append(call.call_id) %}
            {% endif %}
        {% endfor %} 

        
        {% for uid in unique_ids %}
            
            
            {% set group_items = template_data.calls | selectattr("call_id", "equalto", uid) | list %}
            {% set first_row = group_items[0] %}
        
            <div class="content_row  col-sm-12">
                
                <!-- Left Column: Call Type (Taken from the first record of the group) -->
                
                <div class="row_text content_title col-sm-2" style="display: flex;flex-direction: column;">
                    <span>{{ _(first_row.call_type) }}</span>
                    <span style="height: 6px;"> </span>
                    <span style="font-weight: 400;">{{  frappe.utils.pretty_date(first_row.creation) }}</span>
                </div>
                <!-- Right Column: Date (Taken from first record or static) -->
                 
        
                <!-- Middle Column: Loop through ALL details for this specific Call ID -->
                <div class="content_description col-sm-10">
                    {% for call in group_items %}
                        <div class="row_text">
                            <div class="col-sm-3">
                                <span>{{ call.call_from_number }}</span>
                            </div>
                            <div class="col-sm-3">
                                <span>{{ call.creation }}</span>
                            </div>
                            <div class="col-sm-3">
                                <span>{{ call.call_to_name }}</span>
                            </div>
                            <div class="col-sm-2">
                                {% if call.disposition %}  <span> {% if call.link %} <a target="_blank"  href="{{ call.link }}"> {{ call.disposition }}</a>  </span>  {% endif %} {% endif %}
                            </div>
                            <div class="col-sm-1">
                                {% if call.talk_duration %}  <span>{{ call.talk_duration }}s</span> {% endif %}
                            </div>
                            
                        </div>
                    {% endfor %}
                </div>
        
                
        
            </div>
        {% endfor %}
        {% endif %}
       
       
    </div>
    <div class="section_footer">
        <div class="footer_row text_allign_right">
            <div class="footer_text">
                <span><a target="_blank"  href="query-report/Lead%20Activites?lead={{template_data.lead}}">   {{_('View All')}} </a></span>
                 
            </div>
        </div>
    </div>

 
{% endif %}