<!-- jinja -->
{% if template_data %}
{% set status_colors = {
    'Open': 'red',
    'Quotation': 'orange',
    'Converted': 'green',
    'Closed': 'green',
    'Lost': 'gray',
    'Replied': 'gray'
} %}
<div class="custom-form-tabs-list" style="justify-content: flex-end;">  
    <div   style="padding: 10px;">
        <button id="add_opportunity_button" data-label="add-opportunity" class="btn btn-primary btn-sm" style="padding: 2px 8px;border-radius: 6px;">
            <div style="padding: 0px 6px;">
                {{ _('Add Opportunity') }} 
            </div>
        </button>
    </div>
</div>
<div class="section-body">
    <div class="frappe-list">
        <header class="level list-row-head text-muted">
            <div class="level-left list-header-subject">
                <div class="col-sm-4 ellipsis hidden-xs">
                    <span>{{ _('ID') }} </span>
                </div>
                <div class="col-sm-2 ellipsis hidden-xs">
                    <span>{{ _('Type') }} </span>
                </div>
                <div class="col-sm-3 ellipsis hidden-xs">
                    <span>  {{   _('Owner') }} </span>
                </div>
                <div class="col-sm-1 ellipsis hidden-xs">
                    <span>%</span>
                </div>
                <div class="col-sm-2 ellipsis hidden-xs">
                    <span>{{ _('Date') }}  </span>
                </div>
            </div>
        </header>
     
    </div>
   
</div>

        
                {% if template_data|length>0 %}
                {% for rec in template_data.data %}
                {% set color = status_colors.get(rec.status, 'gray') %}
                <div class="list-row-container">
                    <div class="level list-row">
                        <div class="col-sm-4 ellipsis hidden-xs">
                            <span class="ellipsis">
                                <a class="filterable ellipsis" target="_blank" href="/app/opportunity/{{ rec.name}}">
                                    {{rec.name}}
                                </a>
                                <span   class="indicator-pill no-indicator-dot whitespace-nowrap  {{ color }}">{{ _(rec.status)}}</span>
                            </span>
                        </div>
                        <div class="col-sm-2 ellipsis hidden-xs">
                            <span>{{  _(rec.opportunity_type)}}</span>
                        </div>
                        
                        <div class="col-sm-3 ellipsis hidden-xs">
                            <span> {{ frappe.db.get_value("User", rec.opportunity_owner, "full_name") }} </span>
                        </div>
                        <div class="col-sm-1 ellipsis hidden-xs">
                            <span>{{rec.probability}}</span>
                        </div>
                        <div class="col-sm-2 ellipsis hidden-xs">
                            <span>{{ frappe.utils.pretty_date(rec.creation) }} </span>
                        </div>
                    </div>
                </div>
                {% endfor %}   
{% endif %}
{% endif %}